 <form action="/create" method="POST">
        <h2>제목 : <input type="string" name="title" id="input_title"></h2><br>
        <h2>작성자 : <input type="string" name="editor" id="input_editor"></h2><br>
        <h2>내용 : <input type="text" name="content" id="input_content"></h2><hr>
        <button type="submit">Submit</button>
    </form>
